@import '@fontsource-variable/inter';

:root {
	--border-radius-round: 100px;

	--gray-1: #f2f3f5;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font: 1rem 'Inter Variable', sans-serif;
}
